.optPannel {
  position: relative;
  width: 400px;
  border-left: 1px solid rgba(0,0,0,.2);
  background: #fff;
  text-align: center;
}

.optPanneInfo {
  margin: 20px;
  border-radius: 2px;
  text-align: left;
  background-position: 12px;
  background-repeat: no-repeat;
  padding: 24px;
  color: #383e45;
  background-color: #d9edf7;
}

.optPanneChoices {
  display: flex;
  flex-direction: column;
}
.optPanneChoices-item {
  border-bottom: 1px #ccc solid;
  cursor: pointer;
  padding: 20px;
  text-align: left;
}